In [1]:
import pandas as pd

df = pd.read_csv('merged_data.csv')

df

,DATE,GDP(Billion$),DGS30(in%),EXUSEU(US/EU),EXINUS(IN/US),EXUSRUB(US/RUB),BBB(in%),INFLATION MICHIGAN(in%),UNEMPLOYMENT RATE(in%),CPI(in % change),AAA Bond Yield(in%),BAA Bond Yield(in%),DFF(in%),DGS2(in%),DGS3MO(in%),DGS10(in%)
0,1990-01-01,5872.701,7.99,0.865600,16.9633,0.1380,7.26,4.1,5.4,0.446445,8.87,9.845,7.97,7.87,7.815,7.935
1,1990-01-02,5872.701,8.00,0.865600,16.9633,0.1380,7.26,4.1,5.4,0.446445,8.87,9.850,8.54,7.87,7.830,7.940
2,1990-01-03,5872.701,8.04,0.865600,16.9633,0.1380,7.26,4.1,5.4,0.446445,8.90,9.860,8.37,7.94,7.890,7.990
3,1990-01-04,5872.701,8.04,0.865600,16.9633,0.1380,7.26,4.1,5.4,0.446445,8.89,9.840,8.29,7.92,7.840,7.980
4,1990-01-05,5872.701,8.06,0.865600,16.9633,0.1380,7.26,4.1,5.4,0.446445,8.88,9.880,8.20,7.90,7.790,7.990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12779,2024-12-27,29387.964,4.76,0.944965,85.0235,88.0459,5.54,2.6,4.2,0.200040,5.35,5.980,4.33,4.30,4.350,4.580
12780,2024-12-28,29387.964,4.76,0.944965,85.0235,88.0459,5.54,2.6,4.2,0.200040,5.35,5.980,4.33,4.30,4.350,4.580
12781,2024-12-29,29387.964,4.76,0.944965,85.0235,88.0459,5.54,2.6,4.2,0.200040,5.35,5.980,4.33,4.30,4.350,4.580
12782,2024-12-30,29387.964,4.76,0.944965,85.0235,88.0459,5.54,2.6,4.2,0.200040,5.35,5.980,4.33,4.30,4.350,4.580
12783,2024-12-31,29387.964,4.76,0.961760,85.0235,88.0459,5.54,2.6,4.2,0.200040,5.35,5.980,4.33,4.30,4.350,4.580